<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatbot</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
        <div class="header-container">
            <header>
                <h1>My Chatbot</h1>
            </header>
            <div class="line"></div>
        </div>
    
    <div class="main-container">
        <article>
            <div class="welcome-screen" id="welcome-screen">
                <div class="welcome-content">
                    <h2 class="welcome-title">Ask me something!</h2>
                    <p class="welcome-subtitle">Start a conversation below:</p>
                    
                    <div class="prompt-grid">
                        <button class="prompt-btn">Say hello</button>
                        <button class="prompt-btn">Tell me a joke</button>
                        <button class="prompt-btn">Tell me a fun fact</button>
                        <button class="prompt-btn">Tell me about Visa</button>
                    </div>
                </div>
            </div>

            <div class="chat-history" id="chat-history" style="display: none;">
            </div>

            <div class="error-message" id="error-message" style="display: none;">
            </div>
        </article>
    </div>

    <div class="footer-container">
        <div class="line"></div>
        <footer>
            <div class="chat-input">
                <form id="chat-form">
                    <textarea 
                        type="text" 
                        id="user-input" 
                        placeholder="Type your message here..."
                        autocomplete="off"
                        rows="1"></textarea>
                    <button type="submit" id="send-button">
                        Send
                    </button>
                </form>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>